USE [master]
GO
/****** Object:  Database [MyFavorRepos]    Script Date: 2021/6/8 18:44:11 ******/
CREATE DATABASE [MyFavorRepos]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MyFavorRepos', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\MyFavorRepos.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'MyFavorRepos_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\MyFavorRepos_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MyFavorRepos].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MyFavorRepos]
GO
/****** Object:  Table [dbo].[tbl_Left]    Script Date: 2021/6/8 18:44:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Left](
	[TNO] [varchar](10) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[OfficialWebsite] [varchar](50) NOT NULL,
	[DocumentLibrary] [varchar](50) NOT NULL,
	[Url] [varchar](50) NULL,
UNIQUE NONCLUSTERED 
(
	[TNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tbl_Rigth]    Script Date: 2021/6/8 18:44:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tbl_Rigth](
	[TNO] [varchar](10) NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[OfficialWebsite] [varchar](50) NOT NULL,
	[DocumentLibrary] [varchar](50) NOT NULL,
	[Url] [varchar](50) NULL,
UNIQUE NONCLUSTERED 
(
	[TNO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
